<% @memberships.each do |membership| %>
  <div class="membership membership--<%= membership.status%>" data-test-id="<%= membership.id %>">
    <h3>
      <%= membership.name %>
      (<span class="membership_status membership_status--<%= membership.status %>"><%= membership.status %></span>)</h3>


    <% if policy(membership).show_email? %>
      <p class="membership_email"><%= membership.email %></p>
    <% end %>

    <% if policy(membership).show_onboarding_question_response? %>
      <p class="membership_email"><%= membership.onboarding_question_response %></p>
    <% end %>

    <% if policy(membership).approve_member? %>
      <%= button_to "Approve", membership_approval_path(membership) %>
    <% end %>

    <% if policy(membership).promote_moderator? %>
      <%= button_to "Promote to moderator",
          community_moderator_path(membership.community, membership.person),
          method: :put %>
    <% end %>

    <% if policy(membership).demote_moderator? %>
      <%= button_to "Demote from moderator",
          community_moderator_path(membership.community, membership.person),
          method: :delete %>
    <% end %>
  </div>
<% end %>
