<% @memberships.each do |membership| %>
  <div>
    <%= membership.name %>
    <% if policy(membership).show_email? %>
      <%= membership.email %>
    <% end %>
    <%= membership.status %>
    <% if membership.status == 'guest' && policy(membership).approval? %>
      <%= button_to "Approve", membership_approval_path(membership) %>
    <% end %>
    <% if ModeratorPolicy.new(current_person, membership.community).update? &&
        membership.person %>
      <% if membership.status != 'moderator' %>
        <%= button_to "Set moderator",
            community_moderator_path(membership.community, membership.person),
            method: :put
        %>
      <% end %>
      <% if membership.status == 'moderator' %>
        <%= button_to "Dismiss moderator",
            community_moderator_path(membership.community, membership.person),
            method: :delete
        %>
      <% end %>
    <% end %>
  </div>
<% end %>
