<div class="table-responsive">
  <table class="table table-striped">
    <thead class="thead-light">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Status</th>
        <th scope="col"><%= @community.onboarding_question %></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% @memberships.each do |membership| %>
        <tr>
          <th class="membership-cell"><%= membership.name %></th>
          <% if policy(membership).show_email? %>
            <th class="membership-cell"><%= membership.email %></th>
          <% end %>
          <th class="membership-cell"><%= membership.status.humanize %></th>
          <% if policy(membership).show_onboarding_question_response? %>
            <th class="membership-cell"><%= membership.onboarding_question_response %></th>
          <% end %>
          <th>
            <% if policy(membership).approve_member? %>
              <%= button_to "Approve",
                            membership_approve_path(membership), class: 'membership-btn approve-member btn btn--md btn--alt-color' %>
            <% end %>

            <% if policy(membership).promote_moderator? %>
              <%= button_to "Promote to moderator",
                            community_moderator_path(membership.community, membership.person),
                            class: 'membership-btn promote-to-moderator btn btn--md btn--alt-color', method: :put %>
            <% end %>

            <% if policy(membership).demote_moderator? %>
              <%= button_to "Demote from moderator",
                            community_moderator_path(membership.community, membership.person),
                            class: 'membership-btn demote-from-moderator btn btn--md btn--dark', method: :delete %>
            <% end %>
          </th>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
