<!-- http://tachyons.io/components/cards/profile-card/index.html -->

<article class="entry card box-shadow hover-up">

  <%- if local_assigns[:identity_image] %>
    <div class="entry__img-holder card__img-holder">
      <img src="<%= local_assigns[:identity_image].url %>"
           class="entry__img"
           title="<%= local_assigns[:identity_image].title %>">
    </div>
  <%- end %>
  <div class="entry__body card__body">
    <h4 class="entry__title"><%= local_assigns[:name] %></h4>

    <div class="entry__excerpt">
      <p class="lh-copy measure center f6 black-70">
        <%= local_assigns[:summary] %>
      </p>
    </div>

    <%- if local_assigns[:calls_to_action].present? %>
      <div class="section-buttons">
        <%- local_assigns[:calls_to_action].each do |call_to_action| %>
          <div>
            <%= render 'call_to_action', call_to_action %>
          </div>
        <%- end %>
      </div>
    <%- end %>
  </div>
</article>