<!DOCTYPE html>
<html>
  <head>
    <title>NourishIs</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css"/>
    <style>
      .error {
        color: #FF0000;
      }

      .ba {
          border-style: solid;
          border-width: 1px;
      }

      .bb {
          border-bottom-style: solid;
          border-bottom-width: 1px;
      }

      .b--black-10 {
          border-color: rgba(0, 0, 0, .1);
      }
    </style>
  </head>

  <body>
    <nav>
      <% if current_person %>
        Welcome, <%= current_person.email %>
          (<%= link_to "Sign Out", destroy_person_session_path %>)
      <%- else %>
        <%= link_to "Sign up", new_person_registration_path%>
        <%= link_to "Sign in", new_person_session_path %>
      <% end %>
    </nav>
    <%= yield %>
  </body>
</html>
